@model NewsPH.Models.ViewModels.NewsDetailViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<NewsPH.Models.ApplicationUser> SigninManager

@{
    ViewData["Title"] = Model.News.Title;
}

<section>
    <div class="card">
        <img src="~/news-image/@Model.News.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <a class="btn btn-sm btn-info text-white mb-2">@Model.News.NewsCategory.Name</a>
            <h5 class="card-title">@Model.News.Title</h5>
            <p class="card-text">@Model.News.Content</p>
            <span class="d-block text-sm-left fw-light mb-2">@Model.News.Date</span>
            <div class="d-flex align-items-center mb-4">
                @if (SigninManager.IsSignedIn(User))
                {
                    <form method="post" asp-controller="Like" asp-action="Like">
                        <input type="hidden" asp-for="News.Id" />
                        @if (Model.IsLiked == true)
                        {
                            <input type="submit" value="Unlike" class="btn btn-warning mr-1" />
                        }
                        else
                        { 
                            <input type="submit" value="Like" class="btn btn-primary mr-1" />
                        }
                    </form>
                    <a asp-controller="News" asp-action="Update" asp-route-Id="@Model.News.Id" class="btn btn-secondary mr-1">Update</a>
                    <form method="post" asp-controller="News" asp-action="Delete" asp-route-Id="@Model.News.Id">
                        <input type="hidden" value="@Model.News.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                }
            </div>
            <div>
                <h2>@Model.Comments.Count() Comments</h2>
                @if (SigninManager.IsSignedIn(User))
                { 
                    <form method="post" asp-controller="Comment" asp-action="Create" class="d-flex align-items-center mb-2">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="News.Id" />
                        <div class="form-floating mr-2" style="width: 80%;">
                            <textarea class="form-control" placeholder="Leave a comment here" asp-for="Comment.Content"></textarea>
                            @*<label asp-for="Comment.Content">Comments</label>*@
                        </div>
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </form>
                }
            </div>
        </div>
    </div>
</section>