@model IEnumerable<NewsPH.Models.News>
@inject Microsoft.AspNetCore.Identity.SignInManager<NewsPH.Models.ApplicationUser> SigninManager

@{
    ViewData["Title"] = "News";
}

<section>
    <div class="d-flex align-items-center mb-4">
        <h1 class="text-center d-inline-block mr-4">News</h1>
        <a class="btn btn-success" asp-controller="News" asp-action="Create">Add</a>
    </div>

    @if (Model.Count() > 0)
    {
        <div class="news-list">
            @foreach (var news in Model)
            {
                <div class="card news-item mb-4">
                    <img src="~/news-image/@news.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="btn btn-sm btn-info text-white mb-2">@news.NewsCategory.Name</a>
                        <h5 class="card-title">@news.Title</h5>
                        @*<p class="card-text">@news.Content</p>*@
                        <span class="d-block text-sm-left fw-light mb-2">@news.Date</span>
                        <span class="d-block text-sm-left fw-light mb-2">@news.Date</span>
                        <div class="d-flex align-items-center">
                            <a asp-controller="News" asp-action="Details" asp-route-Id="@news.Id" class="btn btn-secondary mr-1">View</a>
                            @if (SigninManager.IsSignedIn(User))
                            {
                                <a asp-controller="News" asp-action="Update" asp-route-Id="@news.Id" class="btn btn-primary mr-1">Update</a>
                                <form method="post" asp-controller="News" asp-action="Delete" asp-route-Id="@news.Id">
                                    <input type="hidden" value="@news.Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>